@import url(./global.css);

body{
    background:linear-gradient(to bottom, #F8FBFF 80%, #BFCAD8 100%);
    width: 100%; height: 100%;
    font-family: "Space Grotesk" Arial, Helvetica, sans-serif;
}

h1, h2 , h3 , h4 ,h5 {
    font-family: 'Anton', Impact, 'Haettenschweiler', 'Arial Narrow Bold';
    text-transform: uppercase;
}

section{
    background:linear-gradient(to top, #F8FBFF 1%, #BFCAD8 100%);
    border-radius:20px;
    padding:4% 13%;
    margin: 3% 5%; 
    position: relative;
}

aside{
    background:linear-gradient(to bottom, #ea7f28 80%, #383939 100%); color: white;
    border-radius:20px;
    padding:4%;
    margin: 3% 5%; 
    position: relative;
    width: 50%;
}

div{
    z-index: 3;
}

p, a, em, li{
    font-family: "Space Grotesk", sans-serif;
}

ul{
    display:grid; grid-template-columns: 1fr 1fr;
    padding:3%;
}

main{
    padding: 13%;
    font-size: 3em;
    height:100%; width: 100%;
    display: flex; align-items: center; justify-content: center; flex-direction: column;
}
main>img{
    width: 50%;
}

.marquee {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

.marqueeText {
  display: inline-block;
  background: black;
  font-size: 19px;
  color:rgb(202, 202, 202);
  padding: 0px 100% 0px 40%;
  margin: 0px 150% 0px 100%;
  font-family: "Press Start 2P", system-ui;;text-transform: capitalize; font-style: italic;letter-spacing: 1.5px;
  animation: marquee 45s linear infinite;
  cursor: default;
}

@keyframes marquee {
  0%   { transform: translateX(0%); }
  100% { transform: translateX(-100%); }
}

#firstSection{
    padding:5% 13%; margin-bottom: 5%;
    display:flex; flex-direction: column; position: relative;
}

#firstSection>h2{
    font-size: 2em;
}

.firstSectionContent{
    background: none;
    z-index: 2;
}

.buttonContainer{
    display:flex; flex-direction: row-reverse;align-items: center;justify-self: center; gap:50px;
    margin:2%;
}

.buttonContinue{
    display:flex; align-items: center;
    background: none;
}

.buttonContinue>a{
    background:linear-gradient(to bottom, #ea7f28 80%, #383939 100%);
    padding:2%;
    display:flex; align-items: center; gap:10px;
    z-index: 2;
}

#backgroundText{
    display:block; position: absolute;
    font-size: 4em;  text-transform: uppercase; font-style: italic;
    z-index: 1;
    left:10%; bottom: 0%;
    opacity: 10%;
    cursor:default;
}

/* Page 1 one first */

/* page 2 second two */

.secondPageAsides{
    display:flex; flex-direction: row;
}

/* page objective */

#cssExemple{
    display: flex; justify-content: center; align-items: center;
}

.cssExempleGrid{
    display:grid; justify-content: center; align-items: center;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.codeCssExemplo{
    width: 100%;
    padding: 5%; margin: 2%;
    border:2px solid gray;
}

.preCode{
    display: flex;justify-content: center;align-items: center;
    width: 100%;
    background-color: black; color:greenyellow;
}

#exemploUm{color:#999;background-color: #ccc;}
#exemploDois{color:#111;background-color:#fff}